# Dependencies
node_modules/
.env
.env.local

# Hardhat
cache/
artifacts/
typechain/
typechain-types/

# Coverage
coverage/
coverage.json

# IDE
.vscode/
.idea/

# Misc
.DS_Store
*.log

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
